* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

/* CLASSI UNIX */

.pad_10 {
  padding: 10px;
}

.mg_bot_10px {
  margin-bottom: 10px;
}

.mg_top_10px {
  margin-top: 10px;
}

.lg {
  visibility: visible;
}

.xs {
  visibility: hidden;
}

.mg_left_10 {
  margin-left: 10px;
}

.mg_right_10 {
  margin-right: 10px;
}



/* CLASSI UNIX */


/* CLASS GENERALI */
.btn {
  color: #fff;
}

.wrapper_container {
  height: 100vh;
  overflow-y: hidden;
  background-color: green;
}

main {
  height: calc(100% - 80px);
  display: flex;
}


aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: #000000;
  color: #C1C1C1;
}

/* CLASS GENERALI */


/* BARRA TRASPARENTE UP */
.header_upgrade {
  position: fixed;
  height: 50px;
  width: calc(100% - 300px);
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background-color: #080B12;
  opacity: 0.9;
}

/* BARRA TRASPARENTE UP */

/* ASIDE */

.aside_section li {
  list-style: none;
}

.playlist_nav {
  height: 80%;
  overflow: auto;
}

.nom_playlist {
  background-color: #000000;
}

.aside_bottom {
  margin-top: auto;
}

.sec_logo {
  height: 50px;
}

.logo, .logo_small {
  height: 50px;
  padding: 10px;
}

.home_nav img {
  height: 20px;
  vertical-align: middle;
  margin: 5px 0;
}

.home_nav a {
  font-size: 12px;
  text-decoration: none;
  color: #C1C1C1;
}

.home_nav:hover a {
  color: #fff;
}

.home_nav {
  position: relative;
}

.page_current::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 3px;
  height: 40%;
  background-color: #ADFF2F;
}

.playlist_nav a {
  text-decoration: none;
  color: #C1C1C1;
}

.fa-plus-square {
  font-size: 40px;
  margin-right: 5px;
  vertical-align: middle;
}

.nom_playlist li {
  margin: 5px 0;
}

.playlist_title {
  margin: 5px 0;
}

.download {
  height: 20px;
  vertical-align: middle;
}

.aside_bottom a {
  text-decoration: none;
  color: #C1C1C1;
}

.profile {
  height: 30px;
  background-color: #c1c1c1;
  border: 1px solid #000;
  border-radius: 100px;
  vertical-align: middle;
}

.aside_bottom:hover a {
  color: #fff;
}




/* SEZIONE ALBUM */

.nav_menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  max-width: 80%;
  margin-left: 9%;
  text-align: center;
}

.list_nav_menu li {
  display: inline-block;
  list-style: none;
}

.list_nav_menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}


.section_album {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: calc(100% - 300px);
  overflow-y: auto;
  background-color: #141922;
}

.container_album {
  flex-shrink: 2;
  margin-top: 80px;
  margin-left: 25px;
}

.album {
  display: flex;
  flex-wrap: wrap;
}

.album li, a {
  display: inline-block;
  list-style: none;
}

.album a {
  margin-top: 10px;
}

.img_album {
  width: 130px;
  max-width: 180px;
  margin: 10px 5px;
}
.layout {
  position: relative;
}
.layout:hover{
  color: #fff;
}

.layout > .fa-play-circle {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100%;
  font-size: 40px;
}

.layout{
  color: rgba(255, 255, 255, 0);
  transition: 1s;
}

.container_album h2 {
  margin-top: 20px;
  color: #fff;
}

.title_playlist {
  text-align: center;
  font-weight: bold;
  max-width: 140px;
  color: #fff;
}

.subtitle {
  font-size: 12px;
  text-align: center;
  max-width: 140px;
  color: #c1c1c1;
}

.album_created {
  display: flex;
  justify-content: flex-start;
  margin-top: 350px;
}

.list_popular li {
  display: inline-block;
}

.list_popular a {
  list-style: none;
}

.img_popular {
  width: 130px;
  max-width: 180px;
}



/* FOOTER */
footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-top: auto;
  background-color: #282828;
}

.song {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 200px;
}

.song img {
  height: 40px;
  margin-left: 10px;
}

.text_song {
  color: #c1c1c1;
}



.icon_song {
  margin-left: 30px;
  color: #c1c1c1;
}

.player {
  width: 100%;
  height: 100%;
  max-width: 200px;
  justify-content: center;
}

.icon_player {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.icon_list {
  display: flex;
  align-items: center;
  list-style: none;
  color: #fff;
}

.icon_list li {
  margin: 0 10px;
}

.fa-play-circle {
  font-size: 30px;
}

.row_player{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.bar {
  height: 5px;
  width: 200px;
  margin: 0 10px;
  border-radius: 50px;
  background-color: #c1c1c1;
}

.bar_up {
  height: 5px;
  width: 50px;
  border-radius: 50px;
  background-color: #fff;
}



.device {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 200px;
}

.icon_device {
  flex-shrink: 0;
}

.icon_device i {
  margin: 0 10px;
  color: #fff;
}

.bar_min {
  height: 5px;
  width: 80px;
  margin: 0 10px;
  border-radius: 50px;
  background-color: #c1c1c1;
}

.bar_min_device {
  height: 5px;
  width: 30px;
  border-radius: 50px;
  background-color: #fff;
}

/* TYPO */

.text_song p {
  font-size: 10px;
}

.text_song h3 {
  color: #fff;
}

.text_player span {
  font-weight: bold;
  color: #fff;
}


/* RESPONSIVE */

/* SMARTPHONE */
@media screen and (max-width: 768px) {
  .xs {
    visibility: visible;
  }

  .lg {
    visibility: hidden;
  }

  .logo {
    display: none;
  }

  .wrapper_container {
    height: 100vh;
    background-color: green;
  }

  main {
    height: calc(100% - 80px);
    display: flex;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
  }

  footer {
    max-width: 100%;
    height: 80px;
  }

  .section_album {
    width: calc(100% - 50px);
  }

  .header_upgrade {
    height: 50px;
    width: calc(100% - 50px);
  }

  hr {
    visibility: hidden;
  }

  .down_aside_bottom, .up_aside_bottom {
    margin: 0;
  }

  .container_album {
    flex-wrap: nowrap;
  }

  .img_album {
    width: 230px;
    max-width: 230px;
    margin: 10px 5px;

  }

  .nav_menu {
    max-width: 70%;
  }

  .title_playlist, .subtitle {
    width: 240px;
    max-width: 100%;
  }

}

/* LANDSCAPE */

@media screen and (max-height: 400px) {
  .xs {
    visibility: visible;
  }

  .lg {
    visibility: hidden;
  }

  .logo {
    display: none;
  }

  .wrapper_container {
    height: 100vh;
    background-color: green;
  }

  main {
    height: calc(100% - 80px);
    display: flex;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
  }

  footer {
    max-width: 100%;
    height: 80px;
  }

  .section_album {
    width: calc(100% - 50px);
  }

  .header_upgrade {
    height: 50px;
    width: calc(100% - 50px);
  }

  hr {
    visibility: hidden;
  }

  .down_aside_bottom, .up_aside_bottom {
    margin: 0;
  }


}

/* TABLET-DESKTOP */
@media screen and (min-width: 769px) {
  .home_nav img{
    visibility: visible;
}

}

@media screen and (min-width: 992px) {
  .img_album {
    width: 130px;
    max-width: 180px;;
    margin: 10px 5px;

  }

  .nav_menu {
    margin-left: 13%;
  }
}
