* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* CLASSI UNIX */

.pad_10 {
  padding: 10px;
}





/* CLASSI UNIX */


/* CLASS GENERALI */
.btn {
  color: #fff;
}

.wrapper_container {
  height: 100vh;
  background-color: green;
}

main {
  height: calc(100% - 80px);
  display: flex;
}


aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: #000000;
  color: #fff;
}

/* CLASS GENERALI */


/* BARRA TRASPARENTE UP */
.header_upgrade {
  position: fixed;
  height: 50px;
  width: calc(100% - 300px);
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background-color: #080B12;
  opacity: 0.9;
}

/* BARRA TRASPARENTE UP */

/* ASIDE */

.aside_section li {
  list-style: none;
}

.nom_playlist {
  background-color: #000000;
}

.playlist_nav {
  height: 80%;
  overflow: auto;
  background-color: pink;
}

.aside_bottom {
  margin-top: auto;
  background-color: grey;
}

.sec_logo {
  height: 50px;
}

.logo {
  height: 50px;
  padding: 10px;
}

.home_nav img {
  height: 20px;
  vertical-align: middle;
  margin: 5px 0;
}

.home_nav span {
  font-size: 12px;
}


/* SEZIONE ALBUM */

.section_album {
  height: 100%;
  width: calc(100% - 300px);
  overflow-y: auto;
  padding: 20px;
  background-color: #141922;
}

p {
  color: #fff;
}

/* FOOTER */
footer {
  width: 100%;
  height: 80px;
  margin-top: auto;
  background-color: #000;
}
