* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* CLASSI UNIX */

.pad_10 {
  padding: 10px;
}

.mg_bot_10px {
  margin-bottom: 10px;
}

.mg_top_10px {
  margin-top: 10px;
}

.lg {
  visibility: visible;
}

.xs {
  visibility: hidden;
}





/* CLASSI UNIX */


/* CLASS GENERALI */
.btn {
  color: #fff;
}

.wrapper_container {
  height: 100vh;
  background-color: green;
}

main {
  height: calc(100% - 80px);
  display: flex;
}


aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: #000000;
  color: #C1C1C1;
}

/* CLASS GENERALI */


/* BARRA TRASPARENTE UP */
.header_upgrade {
  position: fixed;
  height: 50px;
  width: calc(100% - 300px);
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background-color: #080B12;
  opacity: 0.9;
}

/* BARRA TRASPARENTE UP */

/* ASIDE */

.aside_section li {
  list-style: none;
}

.playlist_nav {
  height: 80%;
  overflow: auto;
}

.nom_playlist {
  background-color: #000000;
}

.aside_bottom {
  margin-top: auto;
}

.sec_logo {
  height: 50px;
}

.logo, .logo_small {
  height: 50px;
  padding: 10px;
}

.home_nav img {
  height: 20px;
  vertical-align: middle;
  margin: 5px 0;
}

.home_nav a {
  font-size: 12px;
  text-decoration: none;
  color: #C1C1C1;
}

.home_nav:hover li a {
  color: #fff;
}

.playlist_nav a {
  text-decoration: none;
  color: #C1C1C1;
}

.fa-plus-square {
  font-size: 40px;
  margin-right: 5px;
  vertical-align: middle;
}

.nom_playlist li {
  margin: 5px 0;
}

.playlist_title {
  margin: 5px 0;
}

.download {
  height: 20px;
  vertical-align: middle;
}

.aside_bottom a {
  text-decoration: none;
  color: #C1C1C1;
}

.profile {
  height: 30px;
  background-color: #c1c1c1;
  border: 1px solid #000;
  border-radius: 100px;
  vertical-align: middle;
}

.aside_bottom:hover a {
  color: #fff;
}




/* SEZIONE ALBUM */

.section_album {
  height: 100%;
  width: calc(100% - 300px);
  overflow-y: auto;
  padding: 20px;
  background-color: #141922;
}

p {
  color: #fff;
}

/* FOOTER */
footer {
  position: fixed;
  width: 100%;
  height: 80px;
  margin-top: auto;
  background-color: #000;
}


/* RESPONSIVE */

/* SMARTPHONE */
@media screen and (max-width: 768px) {
  .xs {
    visibility: visible;
  }

.lg {
  visibility: hidden;
}

.logo {
  display: none;
}

aside {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
}

.section_album {
  width: calc(100% - 50px);
}

.header_upgrade {
  height: 50px;
  width: calc(100% - 50px);
}

hr {
  visibility: hidden;
}

.down_aside_bottom, .up_aside_bottom {
  margin: 0;
}

}

/* TABLET-DESKTOP */
@media screen and (min-width: 769px) {
  .home_nav img{
    visibility: visible;
  }
}
