* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* RESPONSIVE */

/* SMARTPHONE */
@media screen and (max-width: 768px) {
  .xs {
    visibility: visible;
  }

.lg {
  visibility: hidden;
}

.logo {
  display: none;
}

aside {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
}

.section_album {
  width: calc(100% - 50px);
}

.header_upgrade {
  height: 50px;
  width: calc(100% - 50px);
}

hr {
  visibility: hidden;
}

.down_aside_bottom, .up_aside_bottom {
  margin: 0;
}

}

/* TABLET-DESKTOP */
@media screen and (min-width: 769px) {
  .home_nav img{
    visibility: visible;
  }
}
