* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* RESPONSIVE */

/* SMARTPHONE */
@media screen and (max-width: 768px) {

}

/* LANDSCAPE */

@media screen and (max-height: 400px) {


}

/* TABLET-DESKTOP */
@media screen and (min-width: 769px) {


}

@media screen and (min-width: 992px) {

}
